.footer {
    background-color: black;
    padding: 70px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-block-start: 4px;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px

}

.social-links{
    display: inline-block;
    margin-right: 4px;
    align-items: center
    
}



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins'
}

@media (max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}